*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:#000;

    font-family:Arial, sans-serif;

}



/* Kamera */

.input_video{

    display:none;

}



/* Katmanlar */

#cameraCanvas,
#drawCanvas{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

}


#cameraCanvas{

    z-index:1;

}


#drawCanvas{

    z-index:2;

}



/* Kontrol Paneli */

.panel{

    position:absolute;

    right:25px;
    top:25px;

    z-index:10;


    width:240px;


    padding:20px;


    background:rgba(0,0,0,0.65);


    border:1px solid #00bfff;


    border-radius:20px;


    color:white;


    backdrop-filter:blur(12px);


    box-shadow:

    0 0 25px #00bfff;


}



/* Başlık */

.panel h2{

    text-align:center;

    margin-bottom:20px;

    color:#00bfff;


    text-shadow:

    0 0 10px #00bfff;

}



/* Yazılar */

.panel label{

    display:block;

    margin-top:15px;

    margin-bottom:5px;

}



/* Renk seçici */

input[type="color"]{

    width:100%;

    height:40px;

    border:none;

    cursor:pointer;

}



/* Kalınlık */

input[type="range"]{

    width:100%;

}



/* Buton */

button{


    width:100%;


    margin-top:15px;


    padding:12px;


    border:none;


    border-radius:15px;


    background:#00bfff;


    color:white;


    font-size:16px;


    cursor:pointer;


    transition:.3s;


}



button:hover{


    background:#008cff;


    box-shadow:

    0 0 20px #00bfff;


}



/* Durum */

#status{


    margin-top:15px;


    text-align:center;


    color:#00ff99;


    font-size:14px;


}